BasedOnStyle: Google
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
Standard: Cpp11
BreakBeforeBinaryOperators: NonAssignment
AlwaysBreakTemplateDeclarations: false
